/*
 * Clipboard history picker — northeast anchored, single column
 */
@import "shared-base.rasi"

configuration {
    modi:                       "drun,filebrowser,run";
    show-icons:                 true;
    display-drun:               " ";
    display-run:                " ";
    display-filebrowser:        " ";
    display-window:             " ";
    drun-display-format:        "{name}";
    hover-select:               false;
    me-select-entry:            "";
    me-accept-entry:            "MousePrimary";
    window-format:              "{w} · {c} · {t}";
    click-to-exit:              true;
    close-on-delete:            true;
    kb-cancel:                  "Escape,MousePrimary";
}

window {
    width:                        @dt-spacing-rofi-window-width;
    x-offset:                     -2em;
    y-offset:                     2em;
    location:                     northeast;
    anchor:                       northeast;
}
